doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script
			!= 'window.skipOnPage = ' + skipOnPage + ';'
			!= 'window.startPageCountOn = ' + parseInt(config.startPageCountOn) + ';'
		script.
			window.vars = {};
			function init() {
				// Substitute variables
				var x = window.location.search.substring(1).split('&');
				var i, j, y, z;
				for (i in x) {
					z = x[i].split('=', 2);
					vars[z[0]] = unescape(z[1]);
				}

				// Increment page counts
				if ( ! isNaN(startPageCountOn)) {
					var pageIncrement = startPageCountOn - 1;
					vars.frompage = parseInt(vars.frompage) + pageIncrement;
					vars.page = parseInt(vars.page) + pageIncrement;
					vars.topage = parseInt(vars.topage) + pageIncrement;
				}

				// Replacements
				x = {
					'page-first': 'frompage',
					'page-number': 'page',
					'page-count': 'topage',
					'section': 'section',
					'subsection': 'subsection',
					'subsubsection': 'subsubsection',
				};

				for (i in x) {
					y = document.getElementsByClassName(i);
					for (j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
				}

				// Skip header/footer for this page?
				if (skipOnPage(vars.page)) {
					var wrapper = document.getElementById('wrapper');
					wrapper.parentNode.removeChild(wrapper);
				}
			}
	body#meta(style='border: 0; margin: 0', onload='init()')
		#wrapper
			!= body
